.DS_Store
node_modules
.idea/
project/chatrooms/node_modules/
project/chat/node_modules/
class/nodejh/研究开发与实践/第七周作业/menu/node_modules/
class/xiaomu/menu/node_modules/
teacher/node_modules/
teachers/node_modules/
