<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<button id="not_login">未登陆菜单</button>
<br/>
<button id="login">已登陆菜单</button>
</body>
<script type="text/javascript" src="/js/menu_2.js"></script>
</html>