<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>00.代码片段</string>
		<string>01.数据类型</string>
		<string>02.闭包</string>
		<string>03.遍历</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
